
	<section class="section section--first section--bg" data-bg="img/section/section.jpg">
		<p id="notice" style="color:white"><%= notice %></p>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">Genres list
							<% if admin %>
								| 
								<%= link_to 'New Genre', new_genre_path %>
							<!-- end content title -->
							<% end %>
					
						</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="#">Home</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">Songs list</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- catalog -->
	<div class="catalog" style="margin-top:50px">
		<div class="container">
			<div class="row">
				<!-- card -->
				<% @genres.each do |genre| %>
				    
					<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
						<div class="card">
							<%= link_to genre, :class => "genre_link" do %>
								<div>
									<%= genre.name %>
								</div>
                                 
                            <% end %>
						</div>
					</div>
					<% if admin %>
						<%= link_to 'Edit', edit_genre_path(genre) %>,  
						<%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %>
					<!-- end content title -->
					<% end %>
					
					<!-- end card -->
				<% end %>

			</div>
		</div>
	</div>