
<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title"><%= @user.name %></h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">
								    <% if @user.avatar.attached? %>
                                       <%= image_tag @user.avatar  %>
                                     <% end %>
									<!--<img src="img/covers/cover.jpg" alt="">-->
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
								<div class="card__content">


									<ul class="card__meta">
										<li><span>Age:</span> 
											<%= @user.age %>
										<li><span>Email:</span> <%= @user.email %></li>
										<li>
											<% if current_user %>
							                     <% if @user.email == current_user.email %>
							                         <%= link_to "Edit" , edit_user_registration_path %>
							                     <% end %>
							                 <% end %>   
										</li>
										<!--<li><span>Running time:</span> 120 min</li>-->
										<!--<li><span>Country:</span> <a href="#">USA</a> </li>-->
									</ul>

									<div class="card__description card__description--details">
										<!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.-->
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->

				<!-- player -->
				<!-- end player -->

				
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	
	<!-- end content -->
	
