<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title"><%= @song.title %></h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">
								    <% if @song.image.attached? %>
                                       <%= image_tag @song.image  %>
                                     <% end %>
									<!--<img src="img/covers/cover.jpg" alt="">-->
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
								<div class="card__content">
									<!--<div class="card__wrap">-->
									<!--	<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>-->

									<!--	<ul class="card__list">-->
									<!--		<li>HD</li>-->
									<!--		<li>16+</li>-->
									<!--	</ul>-->
									<!--</div>-->

									<ul class="card__meta">
										<li><span>Genre:</span> 
											<% @song.genres.each do |genre| %>
												<%= link_to genre.name, genre_path %>
											<% end %>
										</li>
										<li><span>Artist:</span> <%= @song.artist %></li>
										<li>
											<% if current_user %>
							                     <% if @song.user.email == current_user.email %>
							                         <%= link_to 'Edit', edit_song_path(@song) %> 
							                         <%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %>
							
							                     <% end %>
							                 <% end %>   
										</li>
										<!--<li><span>Running time:</span> 120 min</li>-->
										<!--<li><span>Country:</span> <a href="#">USA</a> </li>-->
									</ul>

									<div class="card__description card__description--details">
										<!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.-->
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->

				<!-- player -->
				<div class="col-12 col-xl-6">
					<% if @song.source.attached? %>
                     <%= audio_tag( rails_blob_url(@song.source), controls: true) %>
                 <% end %>
				</div>
				<!-- end player -->

				
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">Otokumo</h2>
						<!-- end content title -->

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a>
							</li>

							<!--<li class="nav-item">-->
							<!--	<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a>-->
							<!--</li>-->

							<!--<li class="nav-item">-->
							<!--	<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a>-->
							<!--</li>-->
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Comments">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

									<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a></li>

									<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-8">
					<!-- content tabs -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
							<div class="row">
								<!-- comments -->
								<div class="col-12">
									<div class="comments">
										<ul class="comments__list">
											
								             	<% @song.comment.each do |comment|%>
													<li class="comments__item">
														<div class="comments__autor">
															<!--<img class="comments__avatar" src="img/user.png" alt="">-->
															<% if comment.user.avatar.attached? %>
												                <%= image_tag comment.user.avatar, :class => "comments__avatar" %>
												              <% end %>
															
															<span class="comments__name"><%= comment.user.email if comment.user %></span>
															<span class="comments__time"><%= comment.created_at %></span>
														</div>
														<p class="comments__text"><%= comment.comment %></p>
														<div class="comments__actions">
															<!--<div class="comments__rate">-->
															<!--	<button type="button"><i class="icon ion-md-thumbs-up"></i>12</button>-->
		
															<!--	<button type="button">7<i class="icon ion-md-thumbs-down"></i></button>-->
															<!--</div>-->
															<% if current_user %>
																<% if comment.user.email == current_user.email %>
																	<button type="button"><i class="icon ion-ios-share-alt"></i><%= link_to 'Edit', edit_comment_path(comment) %> </button>
																	<button type="button"><i class="icon ion-ios-quote"></i><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></button>
											                  
											                     <% end %>
										                     <% end %>
		
															
														</div>
													</li>
												<% end %>
											
										</ul>

										<!--<form action="#" class="form">-->
										<% if current_user %>
						                 	<%= form_with(model: @comment, local: true, :class => "form") do |form| %>
							                <!--<div class= "field">-->
							                  <%= form.text_area :comment, :class => "form__textarea", :placeholder => "Add comment" %>
							                  <%= form.hidden_field :song_id, :value => @song.id %>
							                <!--</div>-->
							                <!--<div class="actions">-->
							                  <%= form.submit 'Send',:style => "transition: 0.4s ease;cursor: pointer;border:none", :class => "form__btn" %>
							                <!--</div>-->
							              <% end %>
							            <% end %> 
										
											<!--<textarea id="text" name="text" class="form__textarea" placeholder="Add comment"></textarea>-->
											<!--<button type="button" class="form__btn">Send</button>-->
										<!--</form>-->
									</div>
								</div>
								<!-- end comments -->
							</div>
						</div>

					</div>
					 <!--end content tabs -->
				</div>

			</div>
		</div>
	</section>
	<!-- end content -->
	
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
