<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Otokumo</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    
  	<!-- Font -->
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
  
  	<!-- Favicons -->
  	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
  	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">
  
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="author" content="Dmitry Volkov">
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>



  </body>
</html>
