<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Otokumo</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    
  	<!-- Font -->
  	<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">-->
  
  	<!-- Favicons -->

  
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="author" content="Dmitry Volkov">
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    <p id="notice" style="color:white"><%= notice %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>



  </body>
</html>
